frontend www.myapp.com
        bind *:8080
        timeout client 60s
        mode http
        acl app1 path_end -i /endpoint1
        acl app2 path_end -i /endpoint2        
        use_backend app1_backend  if app1    
        use_backend app2_backend  if app2
        default_backend all_app_backend
backend app1_backend
        timeout connect 10s
        timeout server 100s
        balance leastconn
        mode http
        server server1 127.0.0.1:8081
        server server2 127.0.0.1:8082
backend app2_backend
        timeout connect 10s
        timeout server 100s
        balance roundrobin
        mode http
        server server3 127.0.0.1:8083
        server server4 127.0.0.1:8084
backend all_app_backend
        timeout connect 10s
        timeout server 100s
        balance roundrobin
        mode http
        server server5 127.0.0.1:8085