
frontend www.myapp.com
        bind *:8080
        timeout client 60s
        default_backend all_app_servers
backend all_app_servers
        timeout connect 10s
        timeout server 100s
        server server1 127.0.0.1:8081
        server server2 127.0.0.1:8082
        server server3 127.0.0.1:8083
        server server4 127.0.0.1:8084
        server server5 127.0.0.1:8085
