frontend www.myapp.com
        bind *:8080
        timeout client 60s
        mode http
        default_backend all_app_servers
		http-request deny if { path -i -m beg /admin }

backend all_app_servers
        timeout connect 10s
        timeout server 100s
        balance roundrobin
        mode http
        server server1 127.0.0.1:8081
        server server2 127.0.0.1:8082
        server server3 127.0.0.1:8083
        server server4 127.0.0.1:8084
        server server5 127.0.0.1:8085